.tb{
  .ourList{
    margin: auto 26rem;
  }

  .inp{
    width: 40%;
  }

  input{
    text-align: center;
  }
  button{
    width: 10%;
  }


}
.bort{
  border: 2px solid rgb(159, 149, 149);
  margin: auto 20rem;
  border-radius: 5px;
}
span{
  color: rgb(102, 109, 235);
}
