

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(./f7022d47f7aadb99713845f91743e726.png);
  background-repeat: no-repeat;
  background-size: cover;
}
