<div class="container">

  <div class="tbody">
      <h1 (click)="hideDiv(0)">Завдання 1</h1>
      <hr />
      <div *ngIf="!showArr[0]" class="tblock">
          <app-t1></app-t1>
          <hr>
      </div>
  </div><br>

  <div class="tbody">
      <h1 (click)="hideDiv(1)">Завдання 2</h1>
      <hr />
      <div *ngIf="!showArr[1]" class="tblock">
          <app-t2></app-t2>
          <hr>
      </div>
  </div><br>

  <div class="tbody">
      <h1 (click)="hideDiv(2)">Завдання 3</h1>
      <hr />
      <div *ngIf="!showArr[2]" class="tblock">
          <app-t3></app-t3>
          <hr>
      </div>
  </div><br>

  <div class="tbody">
      <h1 (click)="hideDiv(3)">Завдання 4</h1>
      <hr />
      <div *ngIf="!showArr[3]" class="tblock">
          <app-t4></app-t4>
          <hr>
      </div>
  </div><br>

  <div class="tbody">
      <h1 (click)="hideDiv(4)">Завдання 5</h1>
      <hr />
      <div *ngIf="!showArr[4]" class="tblock">
          <app-t5></app-t5>
          <hr>
      </div>
  </div><br>

  <div class="tbody">
      <h1 (click)="hideDiv(5)">Завдання 6</h1>
      <hr />
      <div *ngIf="!showArr[5]" class="tblock">
          <app-t6></app-t6>
          <hr>
      </div>
  </div><br>
</div>
