<div class="tb">
  <div class="mb-2 numBox">
   <ul>
     <li *ngFor="let item of numArr">
       ► {{item}} ◄
     </li>
   </ul>
  </div>

  <div class="inpBox">
    <div class="input-group mb-1">
      <input [(ngModel)]="inpNum" type="text" class="form-control" placeholder="Number" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <button (click)="addNum()" class="btn btn-success" type="button">Add</button>
  </div>

  <div>
    <hr>
    <p>Total: <span>{{total}}</span></p>
  </div>
</div>
