.main{
  //padding-top: 5%;

  .taskBody{
    background-color: #ff7a2d5a;
    border: 2px solid #ff7a2d92;
    color: #fbf1c7;
    //padding-left: 4%;
    //margin-bottom: 3%;
  }

  #gSel{
    background-color: #ff7a2d5a;
  }
}
.example-spacer {
  flex: 1 1 auto;
}
