.tb{
  .inp{
    width: 40%;
  }

  p{
    color: aqua;
  }

  input{
    text-align: center;
  }
  button{
    width: 10%;
  }

  .names{
    border: 1px solid rgb(41, 41, 152);
   // margin: auto 26rem;
    border-radius: 6px;
  }
  ul{
    margin: auto 35%;
  }
}
