<div class="tb">
  <div class="row justify-content-around">

    <div class="col-5 names">
      <p>Список 1</p>
      <hr>
      <ul>
        <li *ngFor="let item of nameTop">
          {{item}}
        </li>
      </ul>
    </div>

    <div class="col-5 names">
      <p>Список 2</p>
      <hr>
      <ul>
        <li *ngFor="let item of nameBottom">
          {{item}}
        </li>
      </ul>
    </div>

  </div>

  <br>
  <div >
    <button (click)="moveName()" class="btn btn-success">◄ move</button>
  </div>

</div>
